.container {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}

.container > div {
  margin-top: 40px;
}
.container div:last-child {
  margin-bottom: 0;
}

.container h2 {
  margin: 0 0 14px;
  font-size: 1.4rem;
  font-weight: 400;
}

.container p {
  margin: 0.3rem auto;
  line-height: 2rem;
  white-space: pre-wrap;
  font-size: 1rem;
  min-height: 1.8rem;
}
.topJump:hover {
  color: #2c1289;
  background: rgba(219, 239, 40, 0.954);
}
.topJump {
  background: rgba(212, 28, 169, 0.871);
  border-radius: 50%;
  border: 2px ridge #6e59d9bf;
  padding: 15px;
  font-weight: bolder;
  margin-top: 10px;
  cursor: hand;
  cursor: pointer;

  color: #0f6ba9;
  position: fixed;
  right: 30px;
  bottom: 20px;
  transition: 1s;
  opacity: 0.8;
}
