.grid {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 1rem;
  padding: 0.8rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: #699df86b;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  width: 45%;
}
/* 入力フォーム */
.subsec {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #162a9b50;
}
.box {
  position: relative;
  width: 380px;
  height: 500px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* input クラスはReact版にでき次第変更予定 */
.input {
  background: #8d8c8c66;
  margin: 8px;
  padding: 10px;
  color: rgba(140, 132, 120, 0.691);
}
.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}
.form h3 {
  color: #45f3ff;
  font-weight: line box;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 10px;
}
.inputBox {
  position: relative;
  width: 300px;
  /* margin-top: 35px; */
}
.inputBox .input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  /* background: transparent; */
  /* border: none; */
  /* outline: none; */
  /* color: #23242a; */
  /* font-size: 1em; */
  /* letter-spacing: 0.05em; */
}
/* .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
} */

.submit {
  margin: 20px;
  text-align: center;
  background: #eaeaea;
  color: rgb(102, 62, 10);
  padding: 10px;
  border-radius: 8px;
}
